<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <include resource="logback-properties.xml"/>
  <include resource="logback-console-appender.xml"/>

  <root level="TRACE">
    <appender-ref ref="CONSOLE"/>
  </root>

  <logger name="com.rubensgomes.reqresp.dto" level="TRACE"/>


</configuration>